.footer__text {
  font-family: 'Calibri', sans-serif;
  letter-spacing: -0.005em;
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .footer__text {
    grid-area: copy;
    font-size: 14px;
  }
}
