.header__button {
  width: 40px;
  height: 23px;
  cursor: pointer;
  box-sizing: border-box;
  display: none;
  padding: 3px 0;
  position: relative;
  border-bottom: 2px solid #2F2761;
  transition: all .3s linear;
}

.header__button:hover {
  opacity: .7;
}

@media screen and (max-width: 767px) {
  .header__button {
    display: inline-block;
  }
}
