.intro {
  background-color: #F9E7D9;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .intro {
    padding-top: 38px;
  }
}
