.projects__main-content {
  padding: 50px 65px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1057px) {
  .projects__main-content {
    padding: 40px 26px;
  }
}

@media screen and (max-width: 768px) {
  .projects__main-content {
    flex-direction: column;
    align-items: center;
    padding-top: 31px;
  }
}
