.menu__nav-list-link {
  text-decoration: none;
  color: #000;
  font-family: 'Pribambas', serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  transition: opacity .3s linear;
  position: relative;
}

.menu__nav-list-link:hover {
  opacity: .7;
}

.menu__nav-list-link::before, .menu__nav-list-link::after {
  content: '';
  height: 6px;
  width: 6px;
  position: absolute;
  transition: all 0.6s;
}

.menu__nav-list-link::before {
  top: -4px;
  left: -4px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
}

.menu__nav-list-link::after {
  bottom: -4px;
  right: -4px;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
}

.menu__nav-list-link:hover::before, .menu__nav-list-link:hover:after {
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  transition: all 0.3s;
}
