.poster__link {
  background-color: transparent;
  color: #001185;
  text-transform: uppercase;
  font-family: 'Calibri', serif;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: -0.005em;
  font-size: 30px;
  text-decoration: none;
  width: 422px;
  height: 87px;
  border-radius: 62px;
  background-color: #FA8E5A;;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s linear;
}

.poster__link:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 479px) {
  .poster__link {
    width: 234px;
    height: 50px;
    font-size: 18px;
  }
}
