.intro__date {
  text-transform: uppercase;
  color: #001185;
  font-family: 'Pribambas', serif;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: -0.005em;
  margin: 0 0 25px 0;
}

@media screen and (max-width: 479px) {
  .intro__date {
    font-size: 24px;
    margin-bottom: 23px;
  }
}
